<h1>Edit Comment</h1>
<hr />
<div class = "form-group">
<%= form_for [@movie, @comment] do |f| %>


<%= f.text_field :body, required: true, autofocus: true, placeholder: "Revise Comment", class: "form-control"  %>


<%= f.submit%>
<% end %>
</div>