<h1>Post Comment</h1>
 
<hr />
<div class = "form-group">
<%= form_for [@movie, @comment] do |f| %>

<%= f.text_field :body, placeholder: "Enter Comment",  required: true, autofocus: true, class: "form-control"  %>


<%= f.submit%>
<% end %>
</div>