<i class="fa far fa-plus plus"></i><%= link_to 'Create New Movie', new_movie_path %>
<h3>recommended</h3>


 <div class="movie-con">
  <% @movies.each do |movie| %>
    <div class="movie-column">
      <iframe width="360" height="215" src="<%= movie.trailer %>" frameborder="0" allowfullscreen></iframe>
      <div class="title-icon">
      <i class="fa fas fa-user-circle fa-2x icon"></i><%= link_to movie.title, movie %>
      </div>
    </div>
<% end %>
</div>

