/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
*= require bootstrap
 *= require_tree .
 *= require_self
 */

 @import "flash";

 * {
    font-family: 'Roboto', sans-serif;
 }

 h1 {
     color: white
 }

 h2 {
    color: white
}
h3 {
    color: white
}
h4 {
    color: white
}
h5 {
    color: white
}

a {
 color: white;
 text-decoration: none;
 transition: all ease-in-out .2s;
}

a:hover{
    color:rgb(61, 61, 61);
}




 body {
     background:#181818;
 }
 .main {
    width: 30px;
    margin: 50px auto;
}

.has-search .form-control {
    padding-left: 2.375rem;
    background-color: black;
}
.form-control {
    background-color: #121212;
    border: solid 1px #383838;
}


.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width:30px;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: rgb(0, 0, 0);
}


/***********
navbar margins
**********/


.logo-margin {
    margin-right: 150px;

}

.drop-margin {
    margin-right: 30px;
}

.account-margin {
    margin-left: 250px;
}

.camra-margin {
    margin-right: 20px;
}

/***********
movies index
**********/
.movie-con {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.plus {
    margin-right: 10px;
    color: rgb(79, 91, 250);
}

.movie-column {
    display: flex;
    flex-direction: column;
}

.title-icon {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 45px;
    margin-top: 20px;
}

.icon {
    margin-right: 20px;
}

/***********
movies show
**********/

.movie-show-con {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.movie-row {
    display: flex;
    justify-content: row;
    align-items: center;
}